In [1]:
###q1
# feel free to just use the following if you prefer...
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [2]:
###q2
import pandas as pd

# Assuming df is your DataFrame
rows, columns = df.shape

# Print the number of rows and columns
print(f"The DataFrame has {rows} rows and {columns} columns.")

The DataFrame has 391 rows and 11 columns.

observations ：In the context, an observation refers to each individual data from the dataset. 
variable ：the characteristic of the observation measured or recorded.

https://chatgpt.com/share/66e34493-e778-8001-9794-03c78f5cd845

In [ ]:
###q3
import pandas as pd

# Assuming df is your DataFrame

# Get summary statistics for numeric columns
numeric_summary = df.describe()

# Get a general summary of the DataFrame (including non-numeric columns)
general_summary = df.info()

# Print the numeric summary
print(numeric_summary)

# Print the general summary
print(general_summary)

we can use info(), describe(), value_counts().

https://chatgpt.com/share/66e346d4-578c-8001-b3a3-6f95c09b88b8

Q4: Discrepancy in the Number of Columns Analyzed
df.shape: This function returns the total number of rows and columns in the dataset, including both numeric and non-numeric variables.
df.describe(): By default, df.describe() only analyzes numeric columns
Discrepancy in the Values Reported in the "Count" Column
df.shape: This simply counts the number of rows in the dataset, regardless of missing values.
df.describe(): The "count" column in df.describe() reports the number of non-missing (non-null) values for each numeric column.

https://chatgpt.com/share/66e34803-cfc4-8001-9e06-1b4291c4289b

Q5:
The difference between attribude and method:
Attribute is a property of a pandas object which dont need to assess with a function, no needing parentheses
Method is a function that can be applied to a pandas object, needing parentheses.

https://chatgpt.com/share/66e34852-e330-8001-acb0-9953bff385be

Q6:
count: It indicates how many valid data points there are for a particular variable.
mean: It indicates the average number of the data.
standard Deviation: A measure of the spread or dispersion of the values in the column.
minimum: The smallest value in the column.
25th Percentile (25%): The value below which 25% of the data points fall.
50th Percentile (50%): The value below which 50% of the data points fall.
75th Percentile (75%): The value below which 75% of the data points fall.
Maximum:  The largest value in the column.

Q7:
  You have a dataset of customer information where each row represents a customer and each column represents important details such as name, age, email, and purchase amount. Some rows have missing values in the "email" and "age" columns, but most of the data is complete in other columns. Instead of deleting an entire column of customer emails (which would remove valuable information), you prefer to drop rows that have missing values.

In [ ]:
import pandas as pd

# Example DataFrame with some missing values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, None, 30, 28],
    'Email': ['alice@example.com', None, 'charlie@example.com', 'david@example.com'],
    'PurchaseAmount': [500, 600, None, 700]
}
df = pd.DataFrame(data)

# Drop rows with any missing values
cleaned_df = df.dropna()

# Print the cleaned DataFrame
print(cleaned_df)

df.dropna( ) can be used when you want to remove rows with missing values and keep enough data.

You are working with a dataset that contains information about a company's employees, including name, age, department, salary, and an optional "LinkedIn" profile column. However, many employees do not have LinkedIn profiles, and the column is largely incomplete (with more than 80% missing values). Since the LinkedIn profile is not essential to your analysis, and removing rows with missing LinkedIn profiles would unnecessarily reduce the amount of available data in other columns, you decide to delete the entire LinkedIn column.

In [ ]:
import pandas as pd

# Example DataFrame with many missing values in the 'LinkedIn' column
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 35, 30, 28],
    'Department': ['HR', 'Finance', 'IT', 'Marketing'],
    'Salary': [50000, 60000, 55000, 58000],
    'LinkedIn': [None, 'linkedin.com/bob', None, None]
}
df = pd.DataFrame(data)

# Delete the 'LinkedIn' column
del df['LinkedIn']

# Print the DataFrame after deleting the column
print(df)

It is appropriate for the situation which contains some inportant information and you want to preserve. It is opposite to the df.dropna()

Reason 1: preserve useful data
Because if you use df.dropna() first, you risk removing rows that have missing values in columns you plan to delete anyway. It may delete many useful data causing the lack of data.
Reason 2 3 4: streamlines Data Cleaning，Reduces Memory Usage and Processing Time， Clear Data Cleaning Workflow
They can share a common explaination. Deleting irrelevant or low-quality columns first, the complexity will reduce first. Then, it is easy for df.dropna() to clean.

Remove irrelevant column: The LinkedIn column has many missing values, and we consider it irrelevant to the main analysis. We'll use del df[ ] to remove it completely.
Drop rows with missing values in important columns: We want to keep the rows where both the Age and Salary columns have non-missing values, so we'll use df.dropna() to remove rows with missing values in these essential columns.

https://chatgpt.com/share/66e348da-0010-8001-bd49-7bf6e843ff20

Question8
1: df.groupby("col1") group data according to values in the column1. After first step, you need to operate grouping in the column2. Then, you can use several definition like mean, count to summary the data.

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
group_sex_stats = df.groupby("pclass")["sex"].describe()
print (group_sex_stats)

It should show men and women in different classes. And then summary the top, fre and so on.

Question8
2: df.describe() summarises for all columns, while df.groupby("col1")["col2"].describe() only summarises data in col1 and col2 group.

In [ ]:
### 3a
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
group_sex_stats = df.groupby("pclass")["sex"].describe()
print (group_sex_stats)

Although gpt tells me my code is correct, it helps me add import pandas as pd. So gpt is better.

In [ ]:
### 3b
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanics.csv"
df = pd.read_csv(url)
group_sex_stats = df.groupby("pclass")["sex"].describe()
print (group_sex_stats)

Gpt corrected the error at the first time, so it is good.

In [ ]:
### 3c
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
group_sex_stats = Df.groupby("pclass")["sex"].describe()
print (group_sex_stats)

Gpt replaced Df by df, so it is correct.

In [ ]:
### 3d
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url
group_sex_stats = df.groupby("pclass")["sex"].describe()
print (group_sex_stats)

It added the missing closing parenthesis ) for pd.read_csv(url).

In [ ]:
### 3e
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
group_sex_stats = df.groupby("pclass")["sex"].describde()
print (group_sex_stats)

Corrected the typo from .describde() to .describe().

In [ ]:
### 3f
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
group_sex_stats = df.groupby("pclass")["Sex"].describe()
print (group_sex_stats)

Changed "Sex" to "sex" in the line df.groupby("pclass")["sex"].describe().

In [ ]:
### 3g
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)
group_sex_stats = titanic_df.groupby("pclass")["sex"].describe()
print (group_sex_stats)

Changed titanic_df to df because you used df when loading the dataset with pd.read_csv.
gpt link:https://chatgpt.com/share/66e3425f-88e0-8001-837c-2110ee7390c9

Question9: yes